.card {
  /* min-width: 300px; */
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 8px 8px 14px lightslategray;
  word-wrap: break-word;
  word-break: break-all;
  display:-ms-inline-grid;
}
.Live {
  font-size: 20px;
  font-weight: 500;

}
